<div class="relative flex justify-center bg-Very-light-gray">

  <div class="flex flex-col min-h-screen p-5 space-y-5 md:w-[740px]">

    <!-- Iterate over comments using the *ngFor directive -->
    <app-message-panel *ngFor="let comment of (dataService.comments$ |async)" image="{{comment.user.image.png}}" [comment]="comment">

      <!-- Display the comment's user's username -->
      <h1 class="font-medium" id="user">{{comment.user.username}}</h1>

      <!-- Display the comment's creation date -->
      <p class="text-Grayish-Blue" id="date">{{comment.createdAt}}</p>

      <!-- Display the comment's content -->
      <div class="text-Grayish-Blue md:pt-3" id="message">
        <span>{{comment.content}}</span>
      </div>

    </app-message-panel>

    <!-- Conditionally render the add-comment component if there is a currentUser -->
    <app-add-comment *ngIf="currentUser" image="{{currentUser.image.png}}"></app-add-comment>

  </div>

</div>






